# bootchecker rc file,

on early-init
    readahead /system/framework --fully
	
    readahead /system/etc/sysconfig --fully
    readahead /vendor/etc/sysconfig --fully
    readahead /product/etc/sysconfig --fully
	
    readahead /system/etc/permissions --fully
    readahead /vendor/etc/permissions --fully
    readahead /product/etc/permissions --fully

service bootchecker /system/bin/bootchecker
    class late_start
    user system
    group system log
    oneshot

service bootchecker-bootc /system/bin/bootchecker --writebootc
    user system
    group system log
    oneshot

on property:init.svc.zygote=restarting
    restart bootchecker
    
on property:dev.bootcomplete=1
    start bootchecker-bootc

on property:sys.readahead.inputmethod=1
    readahead /system/app/HoneyBoard/HoneyBoard.apk --fully
    readahead /data/dalvik-cache/arm64/system@app@HoneyBoard@HoneyBoard.apk@classes.dex --fully
    readahead /data/dalvik-cache/arm64/system@app@HoneyBoard@HoneyBoard.apk@classes.vdex --fully
    readahead /system/app/HoneyBoard/oat/arm64/HoneyBoard.odex --fully
    readahead /system/app/HoneyBoard/oat/arm64/HoneyBoard.vdex --fully
    readahead /system/app/IceCone/IceCone.apk --fully
    readahead /data/dalvik-cache/arm64/system@app@IceCone@IceCone.apk@classes.dex --fully
    readahead /data/dalvik-cache/arm64/system@app@IceCone@IceCone.apk@classes.vdex --fully
    setprop sys.readahead.inputmethod 0
